.responsibilities {
	background: #fff;
	border: var(--primary-border);
	border-radius: 10px;
	padding: 10px;
}

.responsibilities__btn {
	background: var(--accent-clr);
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}

.responsibilities__input {
	border: var(--secondary-border);
	padding: 5px;
	border-radius: 5px;
	width: 100%;
}
