@use "./reset";
@use "./fonts";
@use "./variables";

.body,
html {
	font-family: "Google Sans", sans-serif;
	overscroll-behavior: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100svh;
}

.wrapper-inner {
	display: flex;
	overflow: hidden;
	height: 100svh;
}

// globals

.main {
	padding: 10px;
	background: var(--bg-clr);
	width: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.section {
	background: #fff;
	border: var(--primary-border);
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: min(100%, min-content);
}

.input {
	border: var(--secondary-border);
	border-radius: 5px;
	padding: 5px;
	width: 100%;

	&:focus {
		outline: none;
		border: 1px solid #000;
	}
}

.input[type="date"] {
	width: min-content !important;
}

.input--green {
	background: var(--green-tp-clr) !important;
	border: 2px solid var(--green-clr) !important;
	color: var(--green-clr) !important;
}

.input--orange {
	background: var(--orange-tp-clr) !important;
	border: 2px solid var(--orange-clr) !important;
	color: var(--orange-clr) !important;
}

.input--red {
	background: var(--red-tp-clr) !important;
	border: 2px solid var(--red-clr) !important;
	color: var(--red-clr) !important;
}

.input--blue {
	background: var(--blue-tp-clr) !important;
	border: 2px solid var(--blue-clr) !important;
	color: var(--blue-clr) !important;
}

.input--disabled {
	cursor: not-allowed;
	background: var(--bg-clr);
}

.container-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;

	h2 {
		font-weight: 600;
	}
}

.container {
	border: var(--secondary-border);
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
}

.btn {
	background: var(--accent-clr);
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}

.btn--delete {
	background: var(--red-tp-clr);
	color: var(--red-clr);
	border: 2px solid var(--red-clr);
	padding: 5px;
	width: max-content;
	aspect-ratio: 1/1;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.select--disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.btn--disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

// table

table {
	border-collapse: separate;
	border-spacing: 5px;
	width: 100%;
}

th {
	white-space: nowrap;
	text-align: left;
	font-weight: 500;
}

// td {
// 	width: 100%;
// }

// select

select {
	width: min-content !important;
}
