.weekbar {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 10px;
}

.weekbar-container {
	display: flex;
	gap: 5px;
	overflow-x: auto;
	scrollbar-width: none;
	flex-wrap: wrap;
}

.weekbar__day {
	padding: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.05);
}

.weekbar__day--active {
	background: var(--accent-semi-tp-clr) !important;
}

.weekbar__pdf {
	align-self: flex-end;
	flex-shrink: 0;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid var(--red-clr);
	background: var(--red-tp-clr);
	color: var(--red-clr);
}
