.pdf-container {
	background: white;
	color: black;
}

@media print {
	body {
		background: white;
	}
}

.pdf-avoid-break {
	break-inside: avoid;
	page-break-inside: avoid;
}

.content-page {
	width: 1200px;
}

.pdf-btn--hidden {
	display: none !important;
}

.pdf-header--visible {
	display: flex;
}

.weekbar__pdf {
	padding: 10px;
	border-radius: 5px;
	background: red;
	color: #fff;
}
