.auto-grow-text-area {
	border: var(--secondary-border);
	border-radius: 5px;
	padding: 5px;
	resize: none;
	overflow: hidden;
	flex-grow: 1;
	width: 100%;
}

.auto-grow-text-area--disable {
	cursor: not-allowed;
	background: var(--bg-clr) !important;
}
