.tools-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(calc(100% - 20px), 500px);
	background: #fff;
	z-index: 999;
	border-radius: 10px;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
}

.tools-modal--visible {
	opacity: 1;
	pointer-events: auto;
}

.tools-modal-btn-container {
	display: flex;
}

.tools-modal__btn {
	background: var(--accent-clr);
	color: #fff;
	padding: 10px;
	border-top: var(--primary-border);
	width: 100%;

	&:hover {
		background: rgba(0, 179, 255, 0.9);
	}

	&:nth-last-child(1) {
		background: var(--bg-clr);
		color: #000;

		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
	}
}

.tools__filter-btn {
	position: relative;
	z-index: 1;
	padding: 10px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.05);

	&--active {
		background: var(--accent-clr);
		color: #fff;
	}
}

.tools__filter-btn-extra {
	position: relative;
	padding: 10px 10px 10px 20px;
	border-radius: 0 10px 10px 0;
	margin-left: -10px;
	background: rgba(0, 0, 0, 0.05);
}

.select {
	position: relative;
}

.select-container {
	position: absolute;
	right: 0;
	transform: translateY(5px);
	display: none;
	flex-direction: column;
	width: max-content;
	background: #fff;
	padding: 5px;
	border: var(--secondary-border);
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

	&--active {
		display: flex;
	}
}

.select-container__btn {
	padding: 5px;
	border-radius: 5px;

	&:hover {
		background: var(--accent-clr);
		color: #fff;
	}

	&--active {
		background: var(--accent-clr);
		color: #fff;
	}
}

.tools-form {
	position: fixed;
	width: min(100%, 500px);
	top: 50%;
	left: 50%;
	z-index: 9999;
	display: none;
	flex-direction: column;
	gap: 10px;
	transform: translate(-50%, -50%);
	background: #fff;
	border: var(--secondary-border);
	border-radius: 10px;
	padding: 10px;

	&--visible {
		display: flex;
	}
}

.tools-form__btn {
	flex-grow: 1;
	background: var(--accent-clr);
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tools-curtain {
	position: fixed;
	inset: 0;
	z-index: 888;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	pointer-events: none;

	&--visible {
		opacity: 1;
		pointer-events: auto;
	}
}

.tools-table {
	border-collapse: collapse;

	th {
		padding: 5px 0;
	}

	tr {
		border-bottom: var(--primary-border) !important;
	}

	td {
		padding: 10px 0;
	}
}

.tools__edit-btn {
	background: var(--orange-tp-clr);
	color: var(--orange-clr);
	border: 2px solid var(--orange-clr);
	padding: 5px;
	aspect-ratio: 1/1;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	justify-self: flex-end;
}

.tools__remove-btn {
	background: var(--red-tp-clr);
	color: var(--red-clr);
	border: 2px solid var(--red-clr);
	padding: 5px;
	aspect-ratio: 1/1;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	justify-self: flex-end;
}
