.plan {
	background: #fff;
	border: var(--primary-border);
	padding: 10px;
	border-radius: 10px;
}

.plan__input {
	border: var(--secondary-border);
	padding: 5px;
	border-radius: 5px;

	&:nth-child(1) {
		flex-grow: 1;
	}
}

.priority--low {
	background: var(--green-tp-clr);
	border: 2px solid var(--green-clr);
	color: var(--green-clr);
}

.priority--medium {
	background: var(--orange-tp-clr);
	border: 2px solid var(--orange-clr);
	color: var(--orange-clr);
}

.priority--high {
	background: var(--red-tp-clr);
	border: 2px solid var(--red-clr);
	color: var(--red-clr);
}

.plan__remove-btn {
	background: var(--red-tp-clr);
	color: var(--red-clr);
	border: 2px solid var(--red-clr);
	width: 30px;
	border-radius: 5px;
}
