.plan {
	background: #fff;
	border: var(--primary-border);
	padding: 10px;
	border-radius: 10px;
}

.plan__input {
	border: var(--secondary-border);
	padding: 5px;
	border-radius: 5px;

	&:nth-child(1) {
		flex-grow: 1;
	}
}

.plan__remove-btn {
	background: var(--red-tp-clr);
	color: var(--red-clr);
	border: 2px solid var(--red-clr);
	padding: 5px;
	aspect-ratio: 1/1;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
